<!DOCTYPE html>
<html>
	<head>
		<meta charset="{CHARSET}">
		<title>Add Links</title>
	</head>
	<body>
		<h1>All collected links</h1>
		<form method="get" action="add">
		<fieldset>
				<input type="url" name="linkaddress" id="linkaddress" placeholder="copy link to here" required="required"/ autofocus="autofocus" alt="copy link">
				<input type="submit" name="addaddress" value="Add" alt="add"/>
		</fieldset>
		</form>
		<div id="display">
			
		</div>
	</body>
</html>
